<section class="team-modal">
    <a href="javascript:void(0)" class="team-modal__close">
        <span></span>
        <span></span>
    </a>
    <div class="team-modal__wrapper">
        <div class="team-modal__img">
            <img src="./img/employe.jpg" class="employee__image--modal">
        </div>
        <div class="team-modal__description">
            <h3>Sophie Ann Terrisse</h3>
            <p class="team-modal__description--employee">executive chairman, NYC</p>
            <p>Killer of the Night King. The mega cleaner of all turnaround challenges, nothing too insignificant or too
                grand to be made better. Behind billions of brand value, Sophie is the unknown designer of many notable
                brand and business outcomes. Has an unquenchable thirst for nurturing and mobilizing both raw and tested
                talents. Can only be tamed with Krav Maga and Korean ginger tea.</p>
            <p>Killer of the Night King. The mega cleaner of all turnaround challenges, nothing too insignificant or too
                grand to be made better. Behind billions of brand value, Sophie is the unknown designer of many notable
                brand and business outcomes. Has an unquenchable thirst for nurturing and mobilizing both raw and tested
                talents. Can only be tamed with Krav Maga and Korean ginger tea.</p>
            <a href="mailto:samt@26five.com" class="team-modal__description--mail">samt@26five.com</a>
            <div class="team-modal__description--social">
                <a href="#" target="_blank">
                    <svg class="icon icon_twitter">
                        <use xlink:href="img/sprite.svg#twitter"></use>
                    </svg>
                </a>
                <a href="#" target="_blank">
                    <svg class="icon icon_linkedin">
                        <use xlink:href="img/sprite.svg#linkedin"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>