<section class="work">
    <div class="container">
        <h2>Ninjas, Wizards, and Unicorns</h2>
        <div class="team">
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg" class="employee__image--img">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg" class="employee__image--img2">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg"  class="employee__image--img3">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg"  class="employee__image--img4">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
            <div class="employee">
                <div class="employee__image js-employee">
                    <img src="./img/employe.jpg">
                </div>
                <p class="employee__name">Sophie Ann Terrisse</p>
                <p class="employee__position">executive chairman, NYC</p>
            </div>
        </div>
    </div>
</section>