<section class="contact-from">
    <div class="container">
        <h2>WE ARE FROM</h2>
        <div class="contact-from__wrapper">
            <div class="contact-from__item">
                <span class="circle"></span>
                <span class="circle"></span>
                <h3>New York</h3>
                <p>210 Fifth Avenue</p>
                <p>Third Floor</p>
                <p>New York, NY</p>
                <p>10010</p>
                <p class="contact-from__item--name">Firstname Lastname</p>
                <div>
                    <a href="mailto:firstname.lastname@26five.com">firstname.lastname@26five.com</a>
                    <a href="tel:+1 917 806 7698">+1 917 806 7698</a>
                </div>
            </div>
            <div class="contact-from__item">
                <span class="circle"></span>
                <span class="circle"></span>
                <h3>New York</h3>
                <p>210 Fifth Avenue</p>
                <p>Third Floor</p>
                <p>New York, NY</p>
                <p>10010</p>
                <p class="contact-from__item--name">Firstname Lastname</p>
                <div>
                    <a href="mailto:firstname.lastname@26five.com">firstname.lastname@26five.com</a>
                    <a href="tel:+1 917 806 7698">+1 917 806 7698</a>
                </div>
            </div>
            <div class="contact-from__item">
                <span class="circle"></span>
                <span class="circle"></span>
                <h3>New York</h3>
                <p>210 Fifth Avenue</p>
                <p>Third Floor</p>
                <p>New York, NY</p>
                <p>10010</p>
                <p class="contact-from__item--name">Firstname Lastname</p>
                <div>
                    <a href="mailto:firstname.lastname@26five.com">firstname.lastname@26five.com</a>
                    <a href="tel:+1 917 806 7698">+1 917 806 7698</a>
                </div>
            </div>
        </div>
    </div>
</section>