<section class="cookie-apply cookie-apply--none">
    <div class="container">
        <div class="cookie-apply__wrapper">
            <p>We use cookies on our website to give you the most relevant experience by remembering your preferences and repeat visits. By clicking “Accept and Close”, you consent to the use of ALL the cookies. <a href="cookie.html"> Read More</a></p>
            <button class="button button__black js-cookie"><span>ACCEPT AND CLOSE</span></button>
        </div>
    </div>
</section>