<footer class="footer footer--mini">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top__wrapper">
                <div class="footer__logo">
                    <a href="/">
                        <img src="./img/logo_black.svg">
                    </a>
                </div>
                <div class="footer__center">
                    <ul class="footer__nav">
                        <li><a href="#">WORK</a></li>
                        <li><a href="#">SOLUTIONS</a></li>
                        <li><a href="#">THE LAB</a></li>
                        <li><a href="#">ABOUT</a></li>
                    </ul>
                    <ul class="footer__country">
                        <li>USA</li>
                        <li>INDIA</li>
                        <li>SINGAPORE</li>
                        <li>CANADA</li>
                        <li>FRANCE</li>
                        <li>GERMANY</li>
                    </ul>
                </div>
                <div class="footer__social">
                    <img src="./img/grow-great.png">
                    <ul class="footer__social__list">
                        <li>
                            <a href="#" target="_blank">
                                <svg class="icon icon_facebook">
                                    <use xlink:href="img/sprite.svg#facebook"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg class="icon icon_instagram">
                                    <use xlink:href="img/sprite.svg#instagram"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg class="icon icon_twitter">
                                    <use xlink:href="img/sprite.svg#twitter"></use>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank">
                                <svg class="icon icon_linkedin">
                                    <use xlink:href="img/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom__wrapper">
                <div class="footer__copy--privacy">
                    <p class="footer__copyright">© <span id="year"></span> 26FIVE Global Lab, Inc.</p>
                    <p class="footer__privacy"><a href="privacy.html">Privacy Policy</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
