<header class="header header--show" id="header">
    <div class="container">
        <div class="header__wrapper">
            <a class="header__logo" href="/">
                <img src="./img/logo_black.svg" class="header__logo__img--black">
                <img src="./img/logo-white.svg" class="header__logo__img--white">
            </a>
            <nav class="header__nav">
                <ul class="header__nav__list">
                    <li><a href="work.html">WORK</a></li>
                    <li><a href="solution-main.html">SOLUTIONS</a></li>
                    <li><a href="lab.html">THE LAB</a></li>
                    <li><a href="about.html">ABOUT</a></li>
                    <li class="header__burger">
                        <a href="javascript:void(0)" class="js_burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header__menu">
        <div class="container">
            <div class="header__menu__wrapper">
                <ul class="header__menu__nav">
                    <li><a href="work.html">Work</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="solution-main.html">Solution</a></li>
                    <li><a href="join.html">Career</a></li>
                    <li><a href="lab.html">The Lab</a></li>
                    <li><a href="contact.html">CONTACT</a></li>
                    <li><a href="about.html">About</a></li>
                </ul>
                <div class="header__menu__bottom">
                    <a class="header__menu__say" href="#">
                        <h1>SAY HI</h1>
                        <span>
                            <svg class="icon icon_arrow2">
                                <use xlink:href="img/sprite.svg#arrow-2"></use>
                            </svg>
                        </span>
                    </a>
                    <form class="form form-valid">
                        <p>Sign up for our newsletter </p>
                        <div class="form-theme__item form-theme__field form--subscribe">
                            <div class="field-wrap">
                                <input type="email" data-input="email" class="input-required"
                                       placeholder="Email Address">
                            </div>
                            <button type="submit" class="hovered">
                                <svg class="icon icon-arrow1">
                                    <use xlink:href="img/sprite.svg#arrow-1"></use>
                                </svg>
                            </button>
                            <span class="txt-error"><img src="./img/icons/error.svg">Please provide a valid email</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>
