<a href="javascript:void(0)" class="js_popup-talk modal-button">
    <img src="./img/icons/chat.svg" alt="#">
</a>

<div class="modal-talk">
    <div class="container">
        <a href="javascript:void(0)" class="modal-talk__close">
            <span></span>
            <span></span>
        </a>
        <div class="modal-talk__inner">
            <h2>Let’s talk.</h2>
            <form class="form form-valid form-black">
                <div>
                    <div class="form-theme__item form-theme__field">
                        <div class="field-wrap">
                            <input type="text" data-input="text" class="input-required" placeholder="Name">
                        </div>
                        <span class="txt-error"><img src="./img/icons/error.svg">Please enter your name</span>
                    </div>
                    <div class="form-theme__item form-theme__field">
                        <div class="field-wrap">
                            <input type="email" data-input="email" class="input-required" placeholder="Business Email">
                        </div>
                        <span class="txt-error"><img src="./img/icons/error.svg">Please provide a valid email</span>
                    </div>
                    <div class="form-theme__item form-theme__field">
                        <div class="field-wrap">
                            <input type="text" data-input="text" placeholder="YOUR MESSAGE">
                        </div>
                    </div>
                </div>
                <button type="submit" class="hovered">
                    <span>SEND</span>
                    <svg class="icon icon_arrow2">
                        <use xlink:href="img/sprite.svg#arrow-2"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</div>