<section class="newsletter">
    <div class="container">
        <div class="newsletter__wrapper">
            <h2>Sign up for our newsletter </h2>
            <form class="form form-valid form-black">
                <div class="form-theme__item form-theme__field form--subscribe">
                    <div class="field-wrap">
                        <input type="email" data-input="email" class="input-required" placeholder="Email Address">
                    </div>
                    <button type="submit">
                        <svg class="icon icon_arrow-1">
                            <use xlink:href="img/sprite.svg#arrow-1"></use>
                        </svg>
                    </button>
                    <span class="txt-error"><img src="./img/icons/error.svg">Please provide a valid email</span>
                </div>
            </form>
        </div>
    </div>
</section>