<section class="talk">
    <div class="container">
        <h2 class="talk__description">Let’s create something great together.</h2>
        <a class="talk__link" href="contact.html">
            <h1>TALK WITH US</h1>
            <span>
                <svg class="icon icon_arrow-2">
                    <use xlink:href="img/sprite.svg#arrow-2"></use>
                </svg>
            </span>
        </a>
    </div>
</section>