---
title: page404
description: Template
pageName: 404Page
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
    <main>
        {% include "pages/technical/_404.twig" %}
    </main>
{% endblock %}
