---
title: Consulting
description: Template
pageName: consultingPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
    <main>
        {% include "pages/solutions/_consulting.twig" %}
        {% include "pages/work/_work-related.twig" %}
        {% include "blocks/_talk-with-us.twig" %}
    </main>
    {% include "blocks/_footer.twig" %}
{% endblock %}
