---
title: JoinSingle
description: Template
pageName: joinSinglePage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
    <main>
        {% include "pages/join/_join-text.twig" %}
        {% include "blocks/_newsletter.twig" %}
    </main>
    {% include "blocks/_footer-mini.twig" %}
{% endblock %}
