---
title: solutionMain
description: Template
pageName: solutionPage
---

{% extends 'layouts/_page-default.twig' %}
{% block content %}
    <main>
        {% include "pages/solutions/_solution-main.twig" %}
    </main>
{% endblock %}
