<section class="join">
    <div class="container">
        <div class="join__wrapper">
            <h2>Join the team semtid set</h2>
            <div class="join__table">
                <div class="join__table__row join__table__row--title">
                    <div class="join__table__row__jobs">
                        <select class="select-menu" id="jobs" name="jobs">
                            <option value="0" disabled selected>ALL JOBS</option>
                            <option value="1">Designer</option>
                            <option value="2">3D Designer</option>
                            <option value="3">Project Manager</option>
                        </select>
                    </div>
                    <div class="join__table__row__location">
                        <select class="select-menu" id="job-location" name="job-location">
                            <option value="0" disabled selected>ALL LOCATIONS</option>
                            <option value="1">New York</option>
                            <option value="2">India</option>
                            <option value="3">AUSTRALIA</option>
                        </select>
                    </div>
                </div>
                <a href="join-individual.html" class="join__table__row">
                    <div class="join__table__row__jobs">
                        <p>Graphic designer</p>
                    </div>
                    <div class="join__table__row__location">
                        <p>New York <img src="img/arrow-join.png"></p>
                    </div>
                </a>
                <a href="join-individual.html" class="join__table__row">
                    <div class="join__table__row__jobs">
                        <p>Project manager </p>
                    </div>
                    <div class="join__table__row__location">
                        <p>India <img src="img/arrow-join.png"></p>
                    </div>
                </a>
                <a href="join-individual.html" class="join__table__row">
                    <div class="join__table__row__jobs">
                        <p>3D designer</p>
                    </div>
                    <div class="join__table__row__location">
                        <p>New York <img src="img/arrow-join.png"></p>
                    </div>
                </a>
            </div>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr
                <a href="mailto:join@26five.com">join@26five.com</a>.
                dolore magna aliquyam erat, sed diam
                voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
        </div>
    </div>
</section>