<section class="join-team">
    <div class="join-team__wrapper">
        <div class="join-team__description">
            <h2>Our Team</h2>
            <p>We partner with industry specialists to elevate the outcome of brand strategy and creativity.</p>
            <a href="#">MEET US</a>
        </div>
        <div class="join-team__slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide__img">
                            <img src="./img/join-team.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__img">
                            <img src="./img/join-team.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__img">
                            <img src="./img/join-team.jpg">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="swiper-slide__img">
                            <img src="./img/join-team.jpg">
                        </div>
                    </div>
                </div>
                <div class="swiper-button-next swiper-button hovered">
                    <svg class="icon icon_arrow-right">
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-prev swiper-button hovered">
                    <svg class="icon icon_arrow-left">
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>