.header {
  padding: 17px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100%;
  background: rgba($c-white, 0.7);
  transition: transform 500ms ease-in-out;
  transform: translateY(-200%);

  @include mobile {
    min-height: 70px;
  }

  &.header--show {
    transform: translateY(0);
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 50;
    position: relative;
  }

  &__logo {
    max-width: 140px;
    width: 100%;
    display: block;
    position: relative;

    &__img {
      &--black {
        transition: opacity 500ms ease-in;
      }

      &--white {
        transition: opacity 500ms ease-in;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        opacity: 0;
      }
    }
  }

  &__nav {
    &__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 0;

      li {
        &:not(:last-of-type) {
          margin-right: 30px;

          @include tablet {
            margin-right: 10px;
          }

          @include mobile-up {
            margin-right: 5px;
          }

          @include mobile {
            display: none;
          }
        }

        &:last-of-type {
          margin-left: 20px;

          @include tablet {
            margin-left: 0px;
          }
        }

        a {
          padding: 20px 10px;
          @extend %font-14;
          font-weight: 400;
          letter-spacing: 1.4px;
          line-height: 142%;
          transition: 500ms ease-in-out;
          display: block;
          text-transform: uppercase;

          @include tablet {
            padding: 10px 5px;
          }

          &:hover {
            transform: skewX(-15deg);
            text-shadow: 1px 0 0 $c-main;
          }
        }
      }
    }
  }

  &__burger {
    margin-right: -10px;

    a {
      display: block;

      span {
        height: 2px;
        display: block;
        width: 35px;
        background-color: $c-main;
        margin-right: 0;
        margin-left: auto;
        transition: 500ms ease-out;

        &:not(:last-of-type) {
          margin-bottom: 10px;
        }

        @include tablet {
          width: 25px;
          &:not(:last-of-type) {
            margin-bottom: 8px;
          }
        }

        @include mobile {
          width: 18px;
        }
      }

      @include mobile {
        padding: 0 20px;
      }

      &:hover {
        transform: none !important;

        span {
          &:last-of-type {
            width: 25px;

            @include tablet {
              width: 15px;
            }

            @include mobile {
              width: 18px;
            }
          }
        }
      }
    }

  }

  &--opened {
    background-color: rgba($c-white, 1);

    .header {
      &__menu {
        transform: translate(0, 0);
      }

      &__burger {
        a {
          span {
            &:first-of-type {
              width: 24px;
              transform: rotate(45deg) translateX(8px);
              background-color: #707070;
              @include mobile-up {
                transform: rotate(45deg) translateX(7px);
              }
            }

            &:nth-child(2) {
              width: 24px;
              transform: rotate(-45deg) translateX(8px);
              background-color: #707070;
              @include mobile-up {
                transform: rotate(-45deg) translateX(7px);
              }
            }

            &:nth-child(3) {
              opacity: 0;
            }
          }
        }
      }

      &__nav {
        &__list {
          li:not(:last-of-type) {
            display: none;
          }
        }
      }
    }
  }

  &__menu {
    position: absolute;
    height: calc(100vh - 100px);
    width: 100%;
    top: 100px;
    left: 0;
    transition: transform 500ms ease-out;
    background-color: $c-white;
    z-index: 49;
    padding: 100px 0 85px;
    transform: translate(0, -200%);

    @include tablet {
      top: 70px;
      height: calc(100vh - 70px);
    }

    @include mobile-up {
      overflow-y: auto;
      top: 70px;
      height: calc(100vh - 70px);
    }

    .container {
      height: 100%;
    }

    &__wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__nav {
      display: grid;
      grid-template-columns: repeat(2, 350px);

      @include mobile {
        grid-template-columns: repeat(1, 100%);
      }

      li {
        //&:nth-child(4),
        //&:nth-child(5),
        //&:nth-child(6) {
        //  @include mobile {
        //    display: none;
        //  }
        //}

        a {
          font-size: 32px;
          font-weight: 300;
          letter-spacing: 0.32px;
          line-height: 140%;
          text-transform: uppercase;
          margin-bottom: 22px;
          transition: 500ms ease-in-out;

          &:hover {
            transform: skewX(-15deg);
            text-shadow: 2px 0 0 $c-black;
          }

          @include mobile-up {
            font-size: 40px;
          }

          @include up-desktop {
            font-size: 2.25vw;
          }
        }
      }
    }

    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 20px;

      @include tablet{
        padding-right: 0;
      }

      .form {
        position: relative;
        max-width: 340px;
        width: 100%;
        @include mobile-up {
          display: none;
        }

        p {
          @extend %font-18;
          letter-spacing: 0.09px;
          line-height: 120%;
          position: absolute;
          top: -40px;

          @include up-desktop {
            font-size: 1.3vw;
          }
        }

        button {
          width: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 10;
          position: absolute;
        }
      }
    }

    &__say {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      &:hover {
        h1 {
          transform: skewX(-15deg);
        }

        span {
          &:before {
            width: 120px;
          }
          @include tablet{
            &:before {
              width: 40px;
            }
          }
        }
      }

      h1 {
        transition: transform 500ms ease-in-out;
        margin-right: 30px;
        white-space: nowrap;

        @include tablet{
          margin-right: 10px;
        }
      }

      span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &:before {
          content: '';
          position: relative;
          top: 0;
          bottom: 0;
          right: -10px;
          height: 2px;
          background-color: $c-main;
          width: 10px;
          display: block;
          margin: auto;
          transition: width 500ms ease-out;
        }

        .icon_arrow2 {
          width: 50px;
          height: 30px;
          fill: none;
          stroke: $c-main;
          stroke-width: 2px;
        }
      }
    }
  }

  &--black {
    background-color: $c-main;

    .header--opened {
      background-color: rgba($c-white, 1);

      .header__burger {
        a {
          span {
            background-color: $c-main;
          }
        }
      }

      .header__logo__img--black {
        opacity: 1;
      }

      .header__logo__img--white {
        opacity: 0;
      }
    }

    .header__logo {
      &__img {
        &--black {
          opacity: 0;
        }

        &--white {
          opacity: 1;
        }
      }
    }

    .header__nav {
      &__list {
        color: $c-white;

        li {
          a {
            &:hover {
              text-shadow: 1px 0 0 $c-white;
            }
          }
        }
      }
    }

    .header__burger {
      a {
        span {
          background-color: $c-white;
        }
      }
    }
  }
}