.icon {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  fill: currentColor;
}

.icon_arrow-1 {
  width: 26.9px;
  height: 19.3px;
}

.icon_arrow-2 {
  width: 47.3px;
  height: 32.6px;
}

.icon_arrow-career {
  width: 8.2px;
  height: 13.6px;
}

.icon_arrow-left {
  width: 58px;
  height: 89px;
}

.icon_arrow-solutions {
  width: 22.1px;
  height: 12.4px;
}

.icon_chat {
  width: 29px;
  height: 29px;
}

.icon_error {
  width: 19px;
  height: 19px;
}

.icon_facebook {
  width: 22.4px;
  height: 48.3px;
}

.icon_instagram {
  width: 49.6px;
  height: 49.6px;
}

.icon_linkedin {
  width: 19.1px;
  height: 18px;
}

.icon_quotes {
  width: 45.9px;
  height: 29.6px;
}

.icon_sound {
  width: 28px;
  height: 28px;
}

.icon_sound-mute {
  width: 28px;
  height: 28px;
}

.icon_triangle_1-career {
  width: 11px;
  height: 8px;
}

.icon_triangle_2-career {
  width: 11px;
  height: 8px;
}

.icon_twitter {
  width: 49.3px;
  height: 40px;
}

