<section class="home__hero">
    <div class="home__hero__video-local ">
        {#        <video class="plyr__video js-player" playsinline autoplay loop muted> #}
        {#            <source src="video/hero.mp4" type="video/mp4"/> #}
        {#            <source src="video/hero.webm" type="video/webm"/> #}
        {#        </video> #}
    </div>

</section>