<section class="home-description">
    <div class="container">
        <div class="home-desciption">

        </div>
        <h1>Why Consulting & Innovation Lab</h1>
        <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et.</h3>
    </div>
</section>