<section class="consulting innovation-lab">
    <div class="container">
        <div class="consulting__wrapper">
            <div class="consulting__info">
                <h1>Innovation Lab</h1>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor  </p>
                <button class="button button__white"><span>Learn more</span></button>
            </div>
            <div class="consulting__image">
                <img src="./img/img-home.jpg">
            </div>
        </div>
    </div>
</section>