<section class="projects">
    <div class="container">
        <div class="projects__all">
            <div class="projects__item projects__item--big">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">OPINION</p>
                <a class="projects__item__title" href="#">Expanding to multiple industries through strategy and
                    messaging</a>
            </div>
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Mediadata</p>
                <a class="projects__item__title" href="#">Simplifying complex messaging</a>
            </div>
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Clean RESEARCH</p>
                <a class="projects__item__title" href="#">Solving global issues and bringing truth back</a>
            </div>
        </div>
        <div class="projects__all">
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Mediadata</p>
                <a class="projects__item__title" href="#">Simplifying complex messaging</a>
            </div>
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Clean RESEARCH</p>
                <a class="projects__item__title" href="#">Solving global issues and bringing truth back</a>
            </div>
            <div class="projects__item projects__item--big">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">OPINION</p>
                <a class="projects__item__title" href="#">Expanding to multiple industries through strategy and
                    messaging</a>
            </div>
        </div>
        <div class="projects__all">
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Mediadata</p>
                <a class="projects__item__title" href="#">Simplifying complex messaging</a>
            </div>
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Clean RESEARCH</p>
                <a class="projects__item__title" href="#">Solving global issues and bringing truth back</a>
            </div>
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Mediadata</p>
                <a class="projects__item__title" href="#">Simplifying complex messaging</a>
            </div>
            <div class="projects__item">
                <a class="projects__item__image" href="#">
                    <img src="./img/img-home.jpg">
                </a>
                <p class="projects__item__type">Clean RESEARCH</p>
                <a class="projects__item__title" href="#">Solving global issues and bringing truth back</a>
            </div>
        </div>
    </div>
    </div>
</section>