<section class="p404">
    <div class="container">
        <div class="p404__wrapper">
            <h1>404</h1>
            <p>Sorry, we can’t find the page you’re looking for!</p>
        </div>
        <div class="p404__link">
            <a href="/" >
                <h1>Go Back</h1>
                <span>
                    <svg class="icon icon_arrow2">
                        <use xlink:href="img/sprite.svg#arrow-2"></use>
                    </svg>
                </span>
            </a>
        </div>
    </div>
</section>