<section class="privacy">
    <div class="container">
        <div class="text-wrapper">
            <h2>Privacy Policy</h2>
            <p>The Privacy Policy last revised May 1, 2021</p>
            <p>At GSC Group (“GSC,” or “we”), accessible from gscgroup.org (the “website”), one of our main priorities is the privacy of our visitors and customers. We care about your privacy and the information you share with us and want you to understand how we are using and protecting the information we collect about you. This Privacy Policy document explains for our website visitors and users the types of information that GSC collects, uses and shares. Please read this Privacy Policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our website. By accessing or using this website, you agree to this Privacy Policy and our Terms of Use as seen at https://gscgroup.org/terms-conditions/.</p>
            <p>If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us by contacting our designated Data Protection Officer below.</p>
            <h4>Lorem ipsum</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et</p>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
            <div class="text-right">
                <h6>Sed diam voluptua. At vero eos</h6>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
                <h6>Sed diam voluptua. At vero eos</h6>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.</p>
            </div>
            <h5>Lorem ipsum dolor sit amet</h5>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. </p>
        </div>
    </div>
</section>