<section class="lab">
    <div class="container">
        <h2>Lorem ipsum dolor sit amet, consetetur sadipscing elitr. sed</h2>
        <ul class="lab__filter">
            <li><a class="lab__filter__item lab__filter__item--active">ALL</a></li>
            <li><a class="lab__filter__item">Agency life</a></li>
            <li><a class="lab__filter__item">NEWS</a></li>
            <li><a class="lab__filter__item">PODCAST</a></li>
            <li><a class="lab__filter__item">BLOG</a></li>
        </ul>
        <div class="lab__results">
            <div class="lab__item">
                <a href="lab-individual.html" class="lab__item__img">
                    <img src="./img/lab-img.jpg">
                </a>
                <div class="lab__item__info">
                    <div class="lab__item__types">
                        <p class="lab__item__types--p">Opinion</p>
                        <p class="lab__item__types--p">08.31.2021</p>
                        <p class="lab__item__types--p">8 min</p>
                    </div>
                    <h4><a href="lab-individual.html">Effective Communication Strategies to Navigate Changing Attitudes
                            to the Workplace</a></h4>
                    <p>While the days of working from our living room, kids hopping on our Zoom calls, spending time
                        with our dogs and finding our way through ‘life-from-home’ may be nearing an end, the pandemic
                        has forever transformed corporate culture as we know it.</p>
                </div>
            </div>
            <div class="lab__item">
                <a href="lab-individual.html" class="lab__item__img">
                    <img src="./img/lab-img.jpg">
                </a>
                <div class="lab__item__info">
                    <div class="lab__item__types">
                        <p class="lab__item__types--p">Opinion</p>
                        <p class="lab__item__types--p">08.31.2021</p>
                        <p class="lab__item__types--p">8 min</p>
                    </div>
                    <h4><a href="lab-individual.html">Effective Communication Strategies to Navigate Changing Attitudes
                            to the Workplace</a></h4>
                    <p>While the days of working from our living room, kids hopping on our Zoom calls, spending time
                        with our dogs and finding our way through ‘life-from-home’ may be nearing an end, the pandemic
                        has forever transformed corporate culture as we know it.</p>
                </div>
            </div>
            <div class="lab__item">
                <a href="lab-individual.html" class="lab__item__img">
                    <img src="./img/lab-img.jpg">
                </a>
                <div class="lab__item__info">
                    <div class="lab__item__types">
                        <p class="lab__item__types--p">Opinion</p>
                        <p class="lab__item__types--p">08.31.2021</p>
                        <p class="lab__item__types--p">8 min</p>
                    </div>
                    <h4><a href="lab-individual.html">Effective Communication Strategies to Navigate Changing Attitudes
                            to the Workplace</a></h4>
                    <p>While the days of working from our living room, kids hopping on our Zoom calls, spending time
                        with our dogs and finding our way through ‘life-from-home’ may be nearing an end, the pandemic
                        has forever transformed corporate culture as we know it.</p>
                </div>
            </div>
            <div class="lab__see-more">
                <a href="javascript:void(0)" class="link">SEE MORE</a>
            </div>
        </div>
    </div>
</section>