<section class="lab-indiv">
    <div class="lab-indiv__main">
        <div class="lab-indiv__main--img">
            <img src="./img/lab-img.jpg">
        </div>
        <div class="lab-indiv__main--description">
            <div class="lab__item__types">
                <p class="lab__item__types--p">Opinion</p>
                <p class="lab__item__types--p">08.31.2021</p>
                <p class="lab__item__types--p">8 min</p>
            </div>
            <h2>Effective Communication Strategies to Navigate Changing Attitudes to the Workplace</h2>
            <p class="lab-indiv__main--author">BY firstname last name </p>
            <div class="lab-indiv__main--share">
                <span>Share</span>
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="icon icon_facebook">
                                <use xlink:href="img/sprite.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="icon icon_instagram">
                                <use xlink:href="img/sprite.svg#instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="icon icon_twitter">
                                <use xlink:href="img/sprite.svg#twitter"></use>
                            </svg>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <svg class="icon icon_linkedin">
                                <use xlink:href="img/sprite.svg#linkedin"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="lab-indiv__description text">
            <h3>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam erat, sed.</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor </p>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
                et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum
                dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amesed diam nonumy eirmod tempor
                invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
                labore et dolore magna aliquyam er.</p>
            <p>Ccusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
                ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                tempor invidunt ut labore et dolore magna aliquyam er.</p>
            <h6>1. IGNITE INTERNAL BRAND ADVOCACY WITH RENEWED MESSAGING</h6>
            <p>It’s likely that your company work culture has changed. Revisiting mission statements or corporate
                messaging to align with employee expectations and needs is essential.</p>
            <p>When General Motors conveyed its return to work strategy for employees with the approach of “Work
                appropriately”, the simple message empowered employees and genuinely made them feel valued and
                connected.</p>
            <h6>2. REVISIT YOUR INTERNAL COMMUNICATIONS STRATEGY</h6>
            <ul>
                <li>Communications must capture the</li>
                <li> attention of employees, be easily</li>
                <li> accessible, and provide information</li>
                <li> in a straightforward manner.</li>
            </ul>
            <p>Interested in more effective communication strategies? Contact us to schedule a quick chat.</p>
        </div>
    </div>
</section>