<section class="solution-consulting">
    <div class="container">
        <div class="solution-consulting__wrapper">
            <div class="solution-consulting__top">
                <h1>Consulting</h1>
                <h3>Duis aute irure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt dolor sit
                    elit do consectetur ut labore et dolore magna aliqua. Ut enim ad minim.</p>
            </div>

            <div class="work-one__dropdown">
                <a href="javascript:void(0)" class="work-one__dropdown__title">
                    <h4>Brand Strategy</h4>
                    <span class="work-one__dropdown__plus"></span>
                </a>
                <div class="work-one__dropdown__inner">
                    <div class="work-one__dropdown__inner--wrapper">
                        <p>The results were overwhelming, with over 1 million people reached across various social media
                            platforms. There were over 31,000 contest entrants, from over 1,000 colleges. What’s more,
                            The Accenture Innovation Center received 13,000 innovative ideas that have the potential to
                            do a lot of good for society.</p>
                    </div>
                </div>
            </div>
            <div class="work-one__dropdown">
                <a href="javascript:void(0)" class="work-one__dropdown__title">
                    <h4>Marketing Strategy</h4>
                    <span class="work-one__dropdown__plus"></span>
                </a>
                <div class="work-one__dropdown__inner">
                    <div class="work-one__dropdown__inner--wrapper">
                        <ul>
                            <li>GTM Strategy & Planning</li>
                            <li>Engagement & Lead Generation</li>
                            <li>ABM Strategy Planning</li>
                            <li>Persona & Segmentation</li>
                            <li>Messaging & Positioning</li>
                            <li>Campaign Measurement & Tracking</li>
                            <li>Media Planning & Buying</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="work-one__dropdown">
                <a href="javascript:void(0)" class="work-one__dropdown__title">
                    <h4>Measurement & Analytics</h4>
                    <span class="work-one__dropdown__plus"></span>
                </a>
                <div class="work-one__dropdown__inner">
                    <div class="work-one__dropdown__inner--wrapper">
                        <ol>
                            <li>GTM Strategy & Planning</li>
                            <li>Engagement & Lead Generation</li>
                            <li>ABM Strategy Planning</li>
                            <li>Persona & Segmentation</li>
                            <li>Messaging & Positioning</li>
                            <li>Campaign Measurement & Tracking</li>
                            <li>Media Planning & Buying</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="work-one__dropdown">
                <a href="javascript:void(0)" class="work-one__dropdown__title">
                    <h4>Technology Solutions</h4>
                    <span class="work-one__dropdown__plus"></span>
                </a>
                <div class="work-one__dropdown__inner">
                    <div class="work-one__dropdown__inner--wrapper">
                        <p>The results were overwhelming, with over 1 million people reached across various social media platforms. There were over 31,000 contest entrants, from over 1,000 colleges. What’s more,</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>