<section class="solution-main">
    <div class="container">
        <div class="solution-main__wrapper">
            <h1><a href="consulting.html">Consulting</a></h1>
            <div class="solution-main__slider">
                <span></span>
                <div id="range">
                    <div class="knob hovered" id='knob1'></div>
                    <div class="range"></div>
                </div>
                <span></span>
            </div>
            <h1><a class="lab.html">Innovation Lab</a></h1>
        </div>
    </div>
</section>