<section class="clients">
    <div class="container">
        <h2>Clients</h2>
        <p>We partner with industry specialists to elevate the outcome of brand strategy and creativity.</p>
        <div class="clients__wrapper js-clients__wrapper">
            <div class="swiper-container js-swiper-container" id="swiper-clients">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                    <div class="swiper-slide">
                        <a href="#" target="_blank">
                            <img src="./img/client-1.png">
                        </a>
                    </div>
                </div>
                <div class="swiper-pagination js-swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>