<section class="review-slider js-review-slider">
    <div class="container">
        <div class="review-wrapper">
            <img src="./img/review-img.png">
            <div class="swiper-container js-swiper-container" id="swiper-review">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h3>“Sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut.”</h3>
                        <p class="review-slider__name">Firstname Lastname</p>
                        <p class="review-slider__company">Consetetur sadipscing elitr</p>
                    </div>
                    <div class="swiper-slide">
                        <h3>“Sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut.”</h3>
                        <p class="review-slider__name">Firstname Lastname</p>
                        <p class="review-slider__company">Consetetur sadipscing elitr</p>
                    </div>
                    <div class="swiper-slide">
                        <h3>“Sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                            tempor invidunt ut.”</h3>
                        <p class="review-slider__name">Firstname Lastname</p>
                        <p class="review-slider__company">Consetetur sadipscing elitr</p>
                    </div>
                </div>
                <div class="swiper-pagination js-swiper-pagination"></div>
            </div>

        </div>
    </div>
</section>