<section class="insta">
    <div class="container">
        <h2>Social Feed</h2>
    </div>

    <div class="insta__gallery">
        <div id="cs-instagram-feed-homeGallery">
            <div id="image-gallery" class="cardbox insta_images">
                <div class="card-content collapse show">
                    <div class="card-body my-gallery" itemscope="" itemtype="">
                        <div class="row homeGallery gallery cs-row insta_images_card galleryParent"
                             data-link="2"
                             data-btnaction="Select Option" data-countselector="">
                            <div class="insta-slider js-insta-slider">
                                <div class="swiper-container js-swiper-container" id="swiper-insta">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst1.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst4.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst3.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst4.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst1.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst2.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst3.jpg" alt="img">
                                            </a>
                                        </div>
                                        <div class="swiper-slide">
                                            <a href="https://www.instagram.com/p/CTbFYBgL0QF/"
                                               target="_blank">
                                                <img src="./img/inst4.jpg" alt="img">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>