<section class="about-team">
    <div class="container">
        <div class="about-team__title">
            <h2>Our Team</h2>
            <p>We partner with industry specialists to elevate the outcome of brand strategy and creativity.</p>
            <a href="javascript:void(0)">MEET US</a>
        </div>
        <div class="about-team-slider js-about-team-slider">
            <div class="swiper-container js-swiper-container" id="swiper-team">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="./img/about-team.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/about-team.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/about-team.jpg">
                    </div>
                    <div class="swiper-slide">
                        <img src="./img/about-team.jpg">
                    </div>
                </div>
                <div class="swiper-button-next js-swiper-button-next swiper-button">
                    <svg class="icon icon_arrow-right">
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-prev js-swiper-button-prev swiper-button">
                    <svg class="icon icon_arrow-left">
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>