<section class="work-catalog work-related">
    <div class="container">
        <h3>Related Projects</h3>
        <a href="work.html" class="link">VIEW ALL PROJECTS</a>
        <div class="work-catalog__wrapper">
            <div class="work-catalog__item">
                <a class="work-catalog__item__img" href="#">
                    <img src="./img/work-1.jpg">
                </a>
                <p class="work-catalog__item__client">CLIENT NAME</p>
                <a class="work-catalog__item__title" href="#">Simplifying complex messaging</a>
            </div>
            <div class="work-catalog__item">
                <a class="work-catalog__item__img" href="#">
                    <img src="./img/work-2.jpg">
                </a>
                <p class="work-catalog__item__client">CLIENT NAME</p>
                <a class="work-catalog__item__title" href="#">Solving global issues and bringing truth back</a>
            </div>
            <div class="work-catalog__item">
                <a class="work-catalog__item__img" href="#">
                    <img src="./img/work-3.jpg">
                </a>
                <p class="work-catalog__item__client">CLIENT NAME</p>
                <a class="work-catalog__item__title" href="#">Simplifying complex messaging</a>
            </div>
            <div class="work-catalog__item">
                <a class="work-catalog__item__img" href="#">
                    <img src="./img/work-4.jpg">
                </a>
                <p class="work-catalog__item__client">CLIENT NAME</p>
                <a class="work-catalog__item__title" href="#">The Innovation Exchange The Innovation Exchange The
                    Innovation
                    Exchange</a>
            </div>
        </div>
    </div>
</section>