<section class="work-filter">
    <div class="container">
        <h2>Work ipsum dolor sit amet, consetetur sadipscing elitr. </h2>
        <ul class="work-filter__all">
            <li><a href="#" class="active">All</a></li>
            <li class="hovered">
                <select class="select-menu" id="inductries" name="inductries">
                    <option value="0" disabled selected>INDUSTRIES</option>
                    <option value="1">Technology</option>
                    <option value="2">Life Sciences</option>
                    <option value="3">Financial Services</option>
                    <option value="4">Food & Beverage</option>
                    <option value="5">Hospitality</option>
                    <option value="6">Luxury</option>
                    <option value="7">Non-profit</option>
                    <option value="8">Sport and Entertainment</option>
                </select>
            </li>
            <li class="hovered">
                <select class="select-menu" id="services" name="services">
                    <option value="0" disabled selected>SERVICES</option>
                    <option value="1">SERVICES 1</option>
                    <option value="2">SERVICES 1</option>
                    <option value="3">SERVICES 3</option>
                </select>
            </li>
            <li class="hovered">
                <select class="select-menu" id="region" name="region">
                    <option value="0" disabled selected>Region</option>
                    <option value="1">region 1</option>
                    <option value="2">region 1</option>
                    <option value="3">region 3</option>
                </select>
            </li>
        </ul>
    </div>
</section>