<div class="work-modal">
    <a href="javascript:void(0)" class="work-modal--close">
        <span></span>
        <span></span>
    </a>
    <div class="container">
        <div class="work-modal__wrapper">
            <div class="work-modal__table">
                <h4>Services</h4>
                <ul>
                    <li>Sit amet, consetetur</li>
                    <li>Sadipscing elitr</li>
                    <li>Diam nonumy eirmod</li>
                    <li>Lorem ipsum dolor sit</li>
                </ul>
            </div>
            <h4>Challenge</h4>
            <p>Work ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy. eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Work ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy. eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <h4>Solution</h4>
            <p>Work ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy. eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Work ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy. eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
            <h4>Result</h4>
            <p>Work ipsum dolor sit amet, consetetur sadipscing elitr sed diam nonumy. eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. </p>
        </div>

    </div>
</div>