<section class="work-one">
    <div class="container">
        <div class="work-one__img">
            <img src="./img/work-1.jpg">
        </div>
        <h2>iBASIS</h2>
        <div class="work-one__dropdown">
            <a href="javascript:void(0)" class="work-one__dropdown__title">
                <h3>Campaign Project Name</h3>
                <span class="work-one__dropdown__plus"></span>
            </a>
            <div class="work-one__dropdown__inner">
                <div class="work-one__dropdown__inner--wrapper">
                    <a href="#" class="work-one__dropdown--link">MORE INFO</a>
                    <p>The results were overwhelming, with over 1 million people reached across various social media
                        platforms. There were over 31,000 contest entrants, from over 1,000 colleges. What’s more, The
                        Accenture Innovation Center received 13,000 innovative ideas that have the potential to do a lot of
                        good for society.</p>
                    <div class="work-one__dropdown__2img-16-9">
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                    </div>
                    <div class="work-one__dropdown__img16-9">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__img16-9 work-one__dropdown__img16-9--big">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__3img">
                        <div class="work-one__dropdown__1-vertical">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__2-horizontal">
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="work-one__dropdown">
            <a href="javascript:void(0)" class="work-one__dropdown__title">
                <h3>Campaign Project Name</h3>
                <span class="work-one__dropdown__plus"></span>
            </a>
            <div class="work-one__dropdown__inner">
                <div class="work-one__dropdown__inner--wrapper">
                    <a href="#" class="work-one__dropdown--link">MORE INFO</a>
                    <p>The results were overwhelming, with over 1 million people reached across various social media
                        platforms. There were over 31,000 contest entrants, from over 1,000 colleges. What’s more, The
                        Accenture Innovation Center received 13,000 innovative ideas that have the potential to do a lot of
                        good for society.</p>
                    <div class="work-one__dropdown__2img-16-9">
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                    </div>
                    <div class="work-one__dropdown__img16-9">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__img16-9 work-one__dropdown__img16-9--big">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__3img">
                        <div class="work-one__dropdown__1-vertical">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__2-horizontal">
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="work-one__dropdown">
            <a href="javascript:void(0)" class="work-one__dropdown__title">
                <h3>Campaign Project Name</h3>
                <span class="work-one__dropdown__plus"></span>
            </a>
            <div class="work-one__dropdown__inner">
                <div class="work-one__dropdown__inner--wrapper">
                    <a href="#" class="work-one__dropdown--link">MORE INFO</a>
                    <p>The results were overwhelming, with over 1 million people reached across various social media
                        platforms. There were over 31,000 contest entrants, from over 1,000 colleges. What’s more, The
                        Accenture Innovation Center received 13,000 innovative ideas that have the potential to do a lot of
                        good for society.</p>
                    <div class="work-one__dropdown__2img-16-9">
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                    </div>
                    <div class="work-one__dropdown__img16-9">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__img16-9 work-one__dropdown__img16-9--big">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__3img">
                        <div class="work-one__dropdown__1-vertical">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__2-horizontal">
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="work-one__dropdown">
            <a href="javascript:void(0)" class="work-one__dropdown__title">
                <h3>Campaign Project Name</h3>
                <span class="work-one__dropdown__plus"></span>
            </a>
            <div class="work-one__dropdown__inner">
                <div class="work-one__dropdown__inner--wrapper">
                    <a href="#" class="work-one__dropdown--link">MORE INFO</a>
                    <p>The results were overwhelming, with over 1 million people reached across various social media
                        platforms. There were over 31,000 contest entrants, from over 1,000 colleges. What’s more, The
                        Accenture Innovation Center received 13,000 innovative ideas that have the potential to do a lot of
                        good for society.</p>
                    <div class="work-one__dropdown__2img-16-9">
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__img16-9">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                    </div>
                    <div class="work-one__dropdown__img16-9">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__img16-9 work-one__dropdown__img16-9--big">
                        <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                    </div>
                    <div class="work-one__dropdown__3img">
                        <div class="work-one__dropdown__1-vertical">
                            <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                        </div>
                        <div class="work-one__dropdown__2-horizontal">
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                            <div class="work-one__dropdown__img16-9">
                                <img src="./img/work-1.jpg" class="work-one__dropdown__absolute-img">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>